.container-commandtext{
    background: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-commandtext code{
    background: #252525;
    border-radius: 8px;
    padding: 10px 20px;
    color: #d6d6d6;
}