.layout-main-page{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
}

.textarea-query{
  width: 100%;
  min-height: 250px;
  background: #f6f6f6;
  color: #000;
  border-radius: 8px;
  cursor: text;
  padding: 10px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: bold;
  border: none;
}

.button-send {
  /* padding: 5px 25px;
  border: none;
  background-color: #4d6cf7;
  color: #fff;
  border-radius: 8px;
  font-size: 15px; */
  background-color: #0099ff;
  box-shadow: #03364a 4px 4px 0px;
  border-radius: 8px;
  transition: transform 300ms, box-shadow 300ms;
  padding: 5px 20px;
  border: none;
  color: #fff;
  font-size: 15px;
}

.button-send:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: #03364a 0px 0px 0px;
}


.button-clear {
  margin-right: 10px;
  background-color: #D70040;
  box-shadow: #7b0025 4px 4px 0px;
  border-radius: 8px;
  transition: transform 300ms, box-shadow 300ms;
  padding: 5px 20px;
  border: none;
  color: #fff;
  font-size: 15px;
}

.button-clear:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: #7b0025 0px 0px 0px;
}


/* table{
  margin-bottom: 10px;
  width: 100%;
  background-color: #f6f6f6;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

 th {
  font-weight: bold;
  text-align: left;
  color: #fff; 
  background-color: #1197cc; 
}

tr:nth-child(even){
  background-color: #00000011;
}

tr:hover{
  color: #1197cc;
} */


table{
  margin-bottom: 10px;
  width: 100%;
  background-color: #f6f6f6;
  border-collapse: collapse;
  border-radius: 10px;
  /* overflow: hidden; */
}

th, td {
  padding: 10px 20px;
}

/* thead tr{
  background-color: #36304a;
} */

th, tr{
  font-weight: bold;
  text-align: left;
  color: #808080;
}

th{
  color: #303030;
}

tr:nth-child(even){
  background-color: #66666611;
}
