.sidebar{
  width: 240px;
  background: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  transition: all 0.4s;
  left: -100%;
  z-index: 5;
}

.sidebar.active {
  left: 0;
}

ul{
  padding: 0;
}

ul li {
  list-style-type: none;
  margin-top: 8px 0;
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a:active{
  background: #172b4d;
  cursor: pointer;
}

.image-logo-sidebar{
  margin-left: 15px;
  width: 40px;
  user-select: none;
}